* {
  box-sizing: border-box;
}

:root {
  --bg: rgba(18, 26, 36, 1);
  --fg: rgba(24, 34, 48, 1);
  --text: rgba(185, 185, 186, 1);
  --link: rgba(216, 160, 112, 1);
  --accent: rgba(216, 160, 112, 1);
  --cRed: rgba(211, 16, 20, 1);
  --cBlue: rgba(0, 149, 255, 1);
  --cGreen: rgba(15, 160, 15, 1);
  --cOrange: rgba(255, 165, 0, 1);
  --font: sans-serif;
  --monoFont: monospace;
  --wallpaper: rgba(14, 21, 29, 1);
  --selectionBackground: rgba(216, 160, 112, 1);
  --selectionText: rgba(0, 0, 0, 1);
  --badgeNotification: rgba(211, 16, 20, 1);
}

body {
  background-color: var(--wallpaper);
  font-family: sans-serif;
  color: var(--text);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  color: var(--link);
  text-decoration: none;
}

.button {
  width: 100%;
  background-color: #1c2a3a;
  color: var(--primary-text-color);
  border-radius: 0.5em;
  border: none;
  padding: 0 1em;
  line-height: 2;
  margin-top: 2em;
  font-size: 1em;
  cursor: pointer;
  box-shadow:
    0 0 2px 0 black,
    0 1px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 -1px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.button:hover {
  box-shadow:
    0 0 1px 2px rgba(185, 185, 186, 0.4),
    0 1px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 -1px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.button:active {
  transform: translate(1px, 1px);
  box-shadow:
    0 0 2px 0 black,
    0 -1px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 1px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.button:hover:active {
  box-shadow:
    0 0 1px 2px rgba(185, 185, 186, 0.4),
    0 -1px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 1px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.input {
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.alert {
  border-radius: 0.5em;
  padding: 0 0.5em;
  line-height: 2;
  margin-top: 1em;
  font-weight: 500;
  width: 100%;
}

.alert-danger {
  background-color: #931014;
  border: 1px solid #a06060;
}

.alert-info {
  background-color: #939393;
  border: 1px solid #a0a0a0;
}

.instance-header {
  display: flex;
  height: 3.5rem;
  padding: 0 1em;
  background: var(--fg);
  box-shadow:
    0 1px 4px 0 rgba(0, 0, 0, 0.4),
    0 2px 7px 0 rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-self: stretch;
  margin-bottom: 1rem;
}

.instance-header__content {
  line-height: 3.5rem;
  display: flex;
  flex: 1 1 45em;
  max-width: 45em;
  align-items: center;
}

.instance-header__thumbnail {
  max-width: 3.5em;
  border-radius: 0.25em;
  margin-right: 0.75em;
}

.instance-header__title {
  font-weight: bold;
  color: var(--text);
  font-size: 1rem;
}

.contents {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.panel {
  color: var(--text);
  background-color: var(--bg);
  position: relative;
  max-width: 45em;
  border-radius: 0.5em;
  overflow: hidden;
  margin: 0;
  box-shadow:
      0 0 3px 0 rgba(0, 0, 0, 0.5),
      0 4px 6px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  flex: 1 1 45em;
}

.button {
  width: auto;
}

.panel-body {
  padding: 0 1em 1em;
  background-color: var(--bg);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions .button {
  margin-left: 0.5em;
}

.account-header {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  aspect-ratio: 3;
  gap: 1em;
  padding: 0 1em;
}

.account-header_container {
  position: absolute;
  inset: 0;
  z-index: 0;
  mask: linear-gradient(to top,transparent 0,white 5em) bottom no-repeat;
}

.account-header__overlay,
.account-header__banner {
  position: absolute;
  width: 100%;
  inset: 0;
}

.account-header__overlay {
  background-color: rgba(18, 26, 36, 0.5);
  z-index: -1;
}

.account-header__banner {
  z-index: -2;
  object-fit: cover;
  width: 100%;
}

.account-header__avatar {
  width: 6em;
  height: 6em;
  flex: 0 0 6em;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.account-header__meta {
  z-index: 1;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-width: 10em;
  font-size: 125%;
}

.account-header__nickname,
.account-header__display-name {
  font-size: 1.25em;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.acocunt-header__display-name {
  font-weight: bold;
}

.account-header__nickname {
  font-size: 0.75em;
  color: var(--link);
}

input {
  display: inline-block;
  background-color: var(--background);
  outline: none;
  color: var(--text);
  line-height: 2;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  border: none;
  padding: 0 0.5em;
}

input[type="checkbox"] {
  display: none;
}

input, label, label::before {
  --background: rgba(15, 21, 30, 1);
  --shadow:
    0 0 2px 0 rgba(0, 0, 0, 1),
    0 -1px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 1px 0 0 rgba(0, 0, 0, 0.2) inset,
    0 0 2px 0 rgba(0, 0, 0, 0.15) inset,
    1px 0 1px  1px  rgba(185, 185, 186, 0.15),
    -1px 0 1px  1px  rgba(185, 185, 186, 0.15);
  --shadowHover:
    0 0 4px 0 rgba(185, 185, 186, 0.5),
    0 -1px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 1px 0 0 rgba(0, 0, 0, 0.2) inset,
    0 0 2px 0 rgba(0, 0, 0, 0.15) inset,
    1px 0 1px 1px  rgba(185, 185, 186, 0.15),
    -1px 0 1px 1px  rgba(185, 185, 186, 0.15);
}


label[type="checkbox"]::before {
  content: ""
}

input[type="checkbox"]:checked + label::before {
  content: "✓"
}

label {
  padding: 1em;
  display: inline-block;
}

input[type="checkbox"] + label::before {
  content: "";
  box-shadow:
  min-width: 1em;
  min-height: 1em;
  text-align: center;
  box-shadow: var(--shadow);
}

label:hover::before {
  box-shadow: var(--shadowHover);
}

.scope {
  display: flex;
  align-items: center;
}

.scope dl {
  margin: 0.75em;
  display: flex;
  flex-direction: column;
}

.scope dt,
.scope dd {
  margin: 0;
}
